/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

html{
  text-align: center;
}

body{
  background-color: aquamarine;
}


.battle{
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.firstPoke{

}

.secondPoke{

}

img{
  display: block;
  margin: 0 auto;
  visibility: hidden;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

img{
  width: 100px;
  height: 100px
}

h4{
  font-size: 3rem;
  text-align: center
}

h2{
  text-align: center;
  font-size: 1.5rem
}
h3{
  text-align: center;
  font-size: 1.5rem
}

h5{
  text-align: center;
  font-size: 2rem;
  background-color: yellow
}